@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
	border-top-color: #3498db;
	animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#background-radial-gradient {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	width: 200vw;
	height: 200vh;
	transform: translate(-50vw, -100vh);
	z-index: -1;
}
